/* PBSlider v1.0 Built By Paul Brown - Please leave this Here. */

/* Start Slider Css */

.pbSliderContainer {
	position: relative;
	list-style: none;
	padding: 0;
	width: 100%;
	margin: 20px auto;
}
.pbSlider {
	position: absolute;
	top: 0;
	left: 0;
}

.pbSlider img {
	max-width: 100%;
	object-fit: cover;
}

.pbSliderContainer .active {
	display: block;
}

.pbSliderContainer .hidden {
	display: none;
}

.pbSliderContainer .wrapper::after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

/* End Slider Css*/
